.container {
    border: 3px solid lightgray;
    display: flex;
    height: 800px;
    width: 800px;
    
}
.flex-item {
    color:black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
.item-1{
    background-color: lightblue;

}
.item-2{
    background-color: lightcoral;
    order: -1;
}
.item-3{
    background-color: aquamarine;

}
.item-4{
    background-color: lightgrey;

}
.item-5{
    background-color: orange;
    order: 2;
}
.item-6{
    background-color: azure;

}
.item-7{
    background-color: wheat;

}
.item-8{
    background-color: cadetblue;

}
